extends layout

block extra_head
	script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/tinymce/3.5.8/tiny_mce.js')
	script(type='text/javascript')
		tinyMCE.init({
			mode: "textareas",
			theme: "simple"
		});


block content
	h2 New
	- if (editPost.isEdit)
		form(method="post", action="/save/#{editPost.slug}", class="form-horizontal")
			div(class="control-group")
				label(class="control-label", for="title") Title
				div(class="controls")
					input(type="text", name="title", id="title", value="#{editPost.title}", placeholder="Title", class="span6")
			div(class="control-group")
				label(class="control-label", for="body") Body
				div(class="controls")
					textarea(name="body", id="body", placeholder="Body", rows="5", class="span6") #{editPost.body}
			div(class="control-group")
				div(class="controls")
					button(type="submit", class="btn") Post
	- else
		form(method="post", action="/new", class="form-horizontal")
			div(class="control-group")
				label(class="control-label", for="title") Title
				div(class="controls")
					input(type="text", name="title", id="title", placeholder="Title", class="span6")
			div(class="control-group")
				label(class="control-label", for="body") Body
				div(class="controls")	
					textarea(name="body", id="body", placeholder="Body", rows="5", class="span6")
			div(class="control-group")
				div(class="controls")
					button(type="submit", class="btn") Post
	h2 Posts
	table(class="table table-striped")
		tr
			th Title
			th Slug
			th Delete?
			th Edit?
		for post in posts	
			tr
				td #{post.title}
				td #{post.slug}
				td 
					a(href="/delete/#{post.slug}", class="btn btn-danger btn-mini") 
						i(class="icon-minus-sign")
						|   Delete
				td
					a(href="/edit/#{post.slug}", class="btn btn-warning btn-mini")
						i(class="icon-pencil")
						|	Edit
				
	
